
        <div class="rounded  border border-1 d-flex flex-column  justify-content-start ps-3 mb-5 h-100 mt-3">


      <!-- start -->
          <div class=" d-flex  justify-content-start align-items-center     mt-3   position-relative ">
            <figure class=" info_img position-relative">
             
              <i class="fa-solid fa-plus  position-absolute img_icon"    data-bs-toggle="modal" data-bs-target="#img" data-bs-whatever="@mdo" ></i>
             
              <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" srcset="" class=" rounded-circle " style="width: 70px; height: 70px;">
            </figure>
           <div class="ps-3">
            <h4>Alaa Ahmed </h4>
            <p class="">Full Stack Developer/PHP</p>

           </div>
           <div class="edit position-absolute ">
            <i class="fa-solid fa-pen me-2"           data-bs-toggle="modal" data-bs-target="#editTrak" data-bs-whatever="@mdo"   ></i>
            <i class="fa-solid fa-plus  "    data-bs-toggle="modal" data-bs-target="#addTrak" data-bs-whatever="@mdo" ></i>
          </div>
          </div>  <!-- send -->
          <hr>
          <!-- start -->
           
              <h6>Profile Compeletness:<h6>
                <div class="progress w-75">
                  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%
                  </div>
            </div>
  
             
          
            <!-- send -->

          <hr>
          <!-- start  -->
          <div class="education position-relative">
            <h6>Education</h6>
            <ul>
              <li>lorem</li>
            </ul>


            <div class="edit     position-absolute ">
              <i class="fa-solid fa-pen me-2"         data-bs-toggle="modal" data-bs-target="#editEducation" data-bs-whatever="@mdo"></i>
              <i class="fa-solid fa-plus"                       data-bs-toggle="modal" data-bs-target="#addEducation" data-bs-whatever="@mdo"></i>
            </div>
          </div><!-- send -->



            <hr>
           <!-- start -->
          <div class="  mt-3 position-relative">
            <div class="">
              <h4>Full Stack Developer/PHP</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis distinctio explicabo nulla alias facere corrupti dolorem vel harum unde, sint cumque laborum ipsa eum commodi, debitis, totam libero exercitationem!</p>
            <p>skills is :</p>
              <ul>
              <li>php</li>
              <li>laravel</li>
              <li>js</li>
              <li>css</li>
            </ul>
            </div>


            <div class="edit     position-absolute ">
              <i class="fa-solid fa-pen me-2"                    data-bs-toggle="modal" data-bs-target="#aboutMeEdit" data-bs-whatever="@mdo"></i>
              <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#aboutMeAdd" data-bs-whatever="@mdo"></i>
            </div>
          </div><!-- send -->


                    <hr>
               <!-- start  -->
               <div class=" position-relative">
                <div>
                  <h4>Work History</h4>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, tempora!</p>
                </div>


                <div class="edit     position-absolute ">
                  <i class="fa-solid fa-pen me-2"   data-bs-toggle="modal" data-bs-target="#workAdd" data-bs-whatever="@mdo"></i>
                  <i class="fa-solid fa-plus"         data-bs-toggle="modal" data-bs-target="#workedit" data-bs-whatever="@mdo"></i>
                </div>
              </div><!-- send -->


<!-- majority ------------------------------------------------------------------------------------------------>
<div class="magiorModel">

<!-- start -->
<div class="modal fade" id="editTrak" tabindex="-1" aria-labelledby="editTrak" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editTrak">Edit Majority</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
        <form    [formGroup]="majorForm" (ngSubmit)="updateMajor(majorForm)" >
          <div class="modal-body">
                   <div class="pb-2"        *ngIf="majorForm.get('major')?.errors!= null && majorForm.get('major')?.touched"  >
                    <small class="text-danger p-1"  *ngIf="majorForm.controls['major'].hasError('required')" >filed is required </small>
                   </div>
          <select class="form-select form-select-lg mb-3 " aria-label=".form-select-lg example"   formControlName="major">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-save"  [disabled]="majorForm.invalid" >Send Data</button>
        </div>

        </form>
     
      
    </div>
  </div>
</div>



<!-- start -->
<div class="modal fade" id="addTrak" tabindex="-1" aria-labelledby="addTrak" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addTrak">Add  majority </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  [formGroup]="majorForm"  (ngSubmit)="updateMajor(majorForm)">
      <div class="modal-body">
        <div class="pb-2"        *ngIf="majorForm.get('major')?.errors!= null && majorForm.get('major')?.touched"  >
          <small class="text-danger p-1"  *ngIf="majorForm.controls['major'].hasError('required')" >filed is required </small>
         </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"  formControlName="major" >
        
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save"  [disabled]="majorForm.invalid">Add</button>
      </div>
    </form>

    </div>

  </div>
</div>
<!-- start -->


</div>

<!-- education ----------------------------------------------------------------------------------------------->
<div class="educationModal">
<!-- start  -->
              <div class="modal fade" id="addEducation" tabindex="-1" aria-labelledby="addEducation" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="addEducation">Add Education</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form   [formGroup]="educationForm "  (ngSubmit)="addEducation(educationForm)">
                    <div class="modal-body">
                    

                      <div class="pb-2"        *ngIf="educationForm.get('education')?.errors!= null && educationForm.get('education')?.touched"  >
                        <small class="text-danger p-1"  *ngIf="educationForm.controls['education'].hasError('required')" >filed is required </small>
                       </div>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Education:</label>
                          <input type="text" class="form-control" id="recipient-name"   formControlName="education">
                        </div>
                        
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-save" [disabled]="educationForm.invalid">Send message</button>
                    </div>
                  </form>
                  </div>
                </div>
              </div>
<!-- end -->





<!-- start -->

<div class="modal fade" id="editEducation" tabindex="-1" aria-labelledby="editEducation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEducation">Edit Education </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form   [formGroup]="educationForm "  (ngSubmit)="updateEducation(educationForm)">
          <div class="pb-2"        *ngIf="educationForm.get('education')?.errors!= null && educationForm.get('education')?.touched"  >
            <small class="text-danger p-1"  *ngIf="educationForm.controls['education'].hasError('required')" >filed is required </small>
           </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Education</label>
            <input type="text" class="form-control" id="recipient-name"   formControlName="education">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save" [disabled]="educationForm.invalid">Send message</button>
      </div>
    </div>
  </div>
</div>


            </div>



<!-- about me -------------------------------------------------------------------------------------------------->

<div class="aboutMe">

<!-- start -->

<div class="modal fade" id="aboutMeEdit" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="aboutMeEdi">Edit Info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form    [formGroup]="aboutMeForm"  (ngSubmit)="updateAboutMe(aboutMeForm)">
      <div class="modal-body">
        <div class="pb-2"        *ngIf="aboutMeForm.get('trak')?.errors!= null && aboutMeForm.get('trak')?.touched"  >
          <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['trak'].hasError('required')" >filed is required </small>
         </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Trak</label>

          <select class="form-select form-select-lg " aria-label=".form-select-lg example"  formControlName="trak"  >
        
            <option value="1" selected>One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          </div>
          <div class="pb-2"        *ngIf="aboutMeForm.get('description')?.errors!= null && aboutMeForm.get('description')?.touched"  >
            <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['description'].hasError('required')" >filed is required </small>
           </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Description</label>
            <textarea class="form-control" id="message-text"  formControlName="description"></textarea>
          </div>
          <div class="pb-2"        *ngIf="aboutMeForm.get('tsubrak')?.errors!= null && aboutMeForm.get('subtrak')?.touched"  >
            <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['subtrak'].hasError('required')" >filed is required </small>
           </div>
          <ng-multiselect-dropdown  
          [placeholder]="'subtrak'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          (onSelect)="onItemSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          formControlName="subtrak"
                >
            </ng-multiselect-dropdown>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- start -->
<div class="modal fade" id="aboutMeAdd" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">Add Info  </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form      [formGroup]="aboutMeForm"  (ngSubmit)="addAboutMe(aboutMeForm)">
      <div class="modal-body">
        <div class="pb-2"        *ngIf="aboutMeForm.get('trak')?.errors!= null && aboutMeForm.get('trak')?.touched"  >
          <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['trak'].hasError('required')" >filed is required </small>
         </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Trak</label>
          <select class="form-select form-select-lg " aria-label=".form-select-lg example"  formControlName="trak"  >
        
            <option value="1" selected>One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          </div>
          <div class="pb-2"        *ngIf="aboutMeForm.get('description')?.errors!= null && aboutMeForm.get('description')?.touched"  >
            <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['description'].hasError('required')" >filed is required </small>
           </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"> Description </label>
            <textarea class="form-control" id="message-text"  formControlName="description"></textarea>
          </div>
          <div class="pb-2"        *ngIf="aboutMeForm.get('tsubrak')?.errors!= null && aboutMeForm.get('subtrak')?.touched"  >
            <small class="text-danger p-1"  *ngIf="aboutMeForm.controls['subtrak'].hasError('required')" >filed is required </small>
           </div>
          <ng-multiselect-dropdown  
     [placeholder]="'subtrak'"
     [settings]="dropdownSettings"
      [data]="dropdownList"
     (onSelect)="onItemSelect($event)"
     (onSelectAll)="onSelectAll($event)"
     formControlName="subtrak"
        >
    </ng-multiselect-dropdown>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>

</div>
<!-- work history ------------------------------------------------------------------------------------------>

<div class="work">

<!-- start -->
<div class="modal fade" id="workAdd" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">Add Work Histry </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form   [formGroup]="workHistoryForm"  (ngSubmit)="addWorkHistory(workHistoryForm)">
          
      <div class="modal-body">
        <div class="pb-2"        *ngIf="workHistoryForm.get('workHistory')?.errors!= null && workHistoryForm.get('workHistory')?.touched"  >
          <small class="text-danger p-1"  *ngIf="workHistoryForm.controls['workHistory'].hasError('required')" >filed is required </small>
         </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Work Histry :</label>
            <textarea class="form-control" id="message-text"   formControlName="workHistory"></textarea>
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- start -->
<div class="modal fade" id="workedit" tabindex="-1" aria-labelledby="nameLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">Edit Work Histry  </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form   [formGroup]="workHistoryForm"  (ngSubmit)="updateWorkHistory(workHistoryForm)">
      <div class="modal-body">
        <div class="pb-2"        *ngIf="workHistoryForm.get('workHistory')?.errors!= null && workHistoryForm.get('workHistory')?.touched"  >
          <small class="text-danger p-1"  *ngIf="workHistoryForm.controls['workHistory'].hasError('required')" >filed is required </small>
         </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Work Histry </label>
            <textarea class="form-control" id="message-text"    formControlName=" workHistory"></textarea>
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>

</div>


<!-- imge----------------------------------------------------------------- -->
<div class="img_modal">
  <!-- start -->
<div class="modal fade" id="img" tabindex="-1" aria-labelledby="img" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="nameLabel">Edit Work Histry  </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form   [formGroup]="imgForm"  (ngSubmit)="updateImg(imgForm)">
      <div class="modal-body">
      
        <div class="pb-2"        *ngIf="imgForm.get('img')?.errors!= null && imgForm.get('img')?.touched"  >
          <small class="text-danger p-1"  *ngIf="imgForm.controls['img'].hasError('required')" >filed is required </small>
         </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Uplode Image</label>
          <input class="form-control" type="file" id="formFile"   formControlName="img">
        </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-save">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>
</div>